<meta name="TemplateVersion" content="V12.00.00">
<meta name="TemplateHome" content="cab">
<meta name="CrossBrowser" content="true">
<meta name="HelpFileName"    content="NoContextSet.html">
<script type="text/javascript">
function SubmitForm() {
if(validateMandatory(document.UpdateForm)){
      UpdateForm.submit();
    }
}
</script>
</head>
%START.OF.PAGE
<body onLoad="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Nursing Pre-Assessment
</span>
<form name=UpdateForm method=get action="patweb92.pbl">
<input type=hidden name=reportno value=16>
<input type=hidden name=template value=1>
<input type=hidden name=updttype value="U">
<input type=hidden name=nobokmod value="1">
<input type=hidden name=admissno value="%PATWEB92.16.001">
<table align=center cellspacing=0 border=0 width=95%>

   <tr><td class=DataLabel>Date</td> 
       <td><input type=text size=12 name=bokrx012
           id=bokrx012 class="Date" title="Date" value="%PATWEB92.16.112">
         <img notab src=../images/DateLookup.gif class=Icon
          onclick="DateLookupFrame(bokrx012);">
          Time
       <input class=Mandatory type=text name=bokrx036 size=8 tabindex=2
          id=bokrx036 value="%PATWEB92.16.136" title="Time">
        <img notab src=../images/DateTimeStamp.gif class=Icon
         onclick="SetCurrentDateTime(bokrx012,bokrx036);">
       <img notab src=../images/TimeLookup.gif border=0 hspace=4 align=absmiddle
        onclick="TimeLookupFrame(bokrx036);">
          </td>
  <tr><td class=DataLabel>%STANDARD.01.017.BG</td>
          <td><select name=bokrx009 title="%STANDARD.01.017.BG">
              <option> </option>
                %PATWEB92.16.109.2
              </select></td>

<tr><td colspan=2 align=center><br>
    <input type=button class="button" value="Ok" 
     name=OKButton onclick="SubmitForm();">
    <input type=button Value="Cancel" class="button" 
     onclick="DFrameExitRefresh();">
    </td></tr>

</table>
</form>


